<div class="text-center">
    <h1 class="title">
        Mon assistant VRP
    </h1>
    <mat-divider></mat-divider>
    <div class="example-button-row">
        <button mat-raised-button color="primary" type="button" (click)="addClientVisite()">AJOUTER</button>
    </div>
</div>
<mat-divider></mat-divider>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
        <!-- Nom Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by nom">Id </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <!-- Nom Column -->
        <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by nom">Nom </th>
            <td mat-cell *matCellDef="let row"> {{row.nom}} </td>
        </ng-container>

        <!-- Prénom Column -->
        <ng-container matColumnDef="prenom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by prenom"> Prénom </th>
            <td mat-cell *matCellDef="let row"> {{row.prenom}} </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date"> Date </th>
            <td mat-cell *matCellDef="let row"> {{row.date}} </td>
        </ng-container>
        <!-- Rue Column -->
        <ng-container matColumnDef="rue">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by rue">Rue </th>
            <td mat-cell *matCellDef="let row"> {{row.rue}} </td>
        </ng-container>

        <!-- Ville Column -->
        <ng-container matColumnDef="ville">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ville"> Ville </th>
            <td mat-cell *matCellDef="let row"> {{row.ville}} </td>
        </ng-container>

        <!-- Adresse complet Column -->
        <ng-container matColumnDef="label">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by label"> Adresse complet
            </th>
            <td mat-cell *matCellDef="let row"> {{row.label}} </td>
        </ng-container>

        <!-- Latitude Column -->
        <ng-container matColumnDef="latitude">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by latitude"> Latitude
            </th>
            <td mat-cell *matCellDef="let row"> {{row.latitude}} </td>
        </ng-container>

        <!-- Longitude Column -->
        <ng-container matColumnDef="longitude">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by longitude"> Longitude
            </th>
            <td mat-cell *matCellDef="let row"> {{row.longitude}} </td>
        </ng-container>


        <ng-container matColumnDef="edition">
            <th mat-header-cell *matHeaderCellDef>
                Action 1
            </th>
            <td mat-cell *matCellDef="let row">
                <button mat-raised-button type="button" mat-raised-button color="accent" (click)="editerClientVisite(row)">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="suppression">
            <th mat-header-cell *matHeaderCellDef>
                Action 2
            </th>
            <td mat-cell *matCellDef="let row">
                <button mat-raised-button type="button" mat-raised-button color="accent" (click)="deleteClientVisite(row)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


    </table>
    <mat-paginator [pageSizeOptions]="[2, 5, 10, 20]" showFirstLastButtons aria-label="Select page of client-visite-list">
    </mat-paginator>
</div>